*.SchDot linguist-language=altium
*.OutJob linguist-language=altium
*.PcbLib linguist-language=altium
*.SchLib linguist-language=altium
*.PrjPcb linguist-language=altium
*.PcbDoc linguist-language=altium